/* GLOBAL SELECTORS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --secondary-font: 'Saira';
    --main-font: 'Saira Condensed';

    --color-one: #0a0a0a;
    --color-two: #1A1A1A;
    --color-three: #fff;
    --color-four: #66FCF1;
    --color-five: #555;
}

/* NAVBAR */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-one);
    color: var(--color-three);
}

.nav-logo {
    height: 8rem;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    font-size: 2rem;
    font-family: var(--main-font);
}

.nav-links li:hover {
    background-color: var(--color-five);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--color-three);
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .toggle-button {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul {
        width: 100%;
        flex-direction: column;
    }

    .nav-links li {
        text-align: center;
    }

    .nav-links li a {
        padding: 1rem 1rem;
    }

    .nav-links.active {
        display: flex;
    }
}

/* HOME PAGE */
.home-container {
    height: 80vh;
    width: 100vw;
}

/* IMAGE SECTION */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    padding: 2rem;
}

/* WELCOME SECTION */
.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3rem;
}

.welcome-hi,
.welcome-name,
.welcome-web-developer {
    font-family: var(--main-font);
    font-size: 1rem;
}

.welcome-letter-c {
    font-weight: bold;
    font-size: 6rem;
}

@media (min-width: 320px) {
    .image-container img {
        border: 1px solid var(--color-one);
        border-radius: 50%;
        height: 20rem;
    }
    .welcome-container {
        align-items: center;
        line-height: 5rem;
    }
    .welcome-hi,
    .welcome-name,
    .welcome-web-developer {
        font-size: 3rem;
        font-weight: bold;
    }
    .welcome-letter-c {
        font-size: 4rem;
    }
    .welcome-full-stack {
        font-size: 1.4rem;
    }
}

@media (min-width: 500px) {
    .image-container img {
        height: 26rem;
        width: 26rem;
    }
    .welcome-container {
        align-items: center;
        line-height: 5.5rem;
    }
    .welcome-hi,
    .welcome-name,
    .welcome-web-developer {
        font-size: 5rem;
    }
    .welcome-letter-c {
        font-size: 6rem;
    }
    .welcome-full-stack {
        font-size: 2rem;
    }
}

@media (min-width: 769px) {
    .home-container {
        flex-direction: column;
    }
    .image-container img {
        height: 26rem;
        width: 26rem;
    }
    .welcome-container {
        align-items: center;
        line-height: 5.5rem;
    }
    .welcome-hi,
    .welcome-name,
    .welcome-web-developer {
        font-size: 5rem;
    }
    .welcome-letter-c {
        font-size: 6rem;
    }
    .welcome-full-stack {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    .home-container {
        flex-direction: row;
    }
    .image-container {
        justify-content: flex-end;
    }
    .image-container img {
        border-radius: 0;
        border-style: none;
        height: 35rem;
        width: 35rem;
        padding-top: 1rem;
    }
    .welcome-container {
        align-items: flex-start;
        line-height: 5.9rem;
    }
    .welcome-hi,
    .welcome-name,
    .welcome-web-developer {
        font-size: 6rem;
    }
    .welcome-letter-c {
        font-size: 8rem;
    }
    .welcome-full-stack {
        font-size: 2rem;
    }
}

