/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  /* Color */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* Transitions */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-05);
  overflow-x: hidden;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

/* Reusable */
.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-03);
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}

.sidebar header {
  position: relative;
}

.sidebar .image-text img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
}

.header-text .profession {
  margin-top: -2px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
  transition: var(--tran-03);
}

.sidebar.close header .toggle {
  transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar .menu {
  margin-top: 35px;
}

.sidebar li a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar .mode {
  position: relative;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}

.menu-bar .mode i {
  position: absolute;
  transition: var(--tran-03);
}

.menu-bar .mode i.sun {
  opacity: 0;
}

body.dark .menu-bar .mode i.sun {
  opacity: 1;
}

body.dark .menu-bar .mode i.moon {
  opacity: 0;
}

.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  border-radius: 6px;
  background: var(--primary-color-light);
  transition: var(--tran-05);
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: var(--toggle-color);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: var(--sidebar-color);
  transition: var(--tran-03);
}

body.dark .switch::before {
  left: 24px;
}

/* Main content */
.main {
  position: relative;
  left: 250px;
  height: 100%;
  width: calc(100% - 250px);
  transition: var(--tran-05);
  background: var(--body-color);
  color: var(--text-color);
}

.sidebar.close ~ .main {
  left: 88px;
  width: calc(100% - 88px);
}

/* Home page */
.home-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.home-image-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.home-image-container img {
  width: 10rem;
  height: 10rem;
}

.home-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.welcome {
  font-size: 1.2rem;
}

.calvin-kim {
  font-size: 2rem;
  color: var(--primary-color);
}

.underline {
  content: "";
  width: 7.5rem;
  border: 1px solid var(--primary-color);
}

.dynamic {
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}

.dynamic li {
  color: var(--primary-color);
  list-style: none;
  font-size: 2rem;
  font-weight: bolder;
  position: relative;
  top: 0;
  animation: slide 6s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.hire-me-btn {
  width: 6.3rem;
  height: 2.4rem;
  background: var(--primary-color);
  border: none;
  color: var(--sidebar-color);
  font-weight: 600;
  border-radius: 5px;
}

.hire-me-btn:hover {
  cursor: pointer;
  transition: transform 150ms;
  transform: scale(1.1);
  background-color: var(--primary-color);
  transition: 0.4s;
  color: var(--primary-color-light);
}

body.dark .calvin-kim {
  color: var(--toggle-color);
}

body.dark .dynamic li {
  color: var(--toggle-color);
}

body.dark .underline {
  border-color: var(--toggle-color);
}

body.dark .hire-me-btn {
  color: var(--text-color);
}

@media screen and (min-width: 1024px) {
  .home-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .home-image-container {
    justify-content: flex-end;
    align-items: center;
  }
  .home-text-container {
    align-items: flex-start;
    justify-content: center;
  }
  .home-image-container img {
    width: 20rem;
    height: 20rem;
  }
  .welcome {
    font-size: 1.8rem;
  }
  .calvin-kim {
    font-size: 3rem;
    color: var(--primary-color);
  }
  .full-stack-dev {
    font-size: 1.3rem;
  }
  .underline {
    width: 13.7rem;
  }
  .hire-me-btn {
    margin-top: 1rem;
  }
  .dynamic li {
    font-size: 3rem;
  }
}

/* About me Page */
.about-container {
  height: 100%;
}

.about-header-container {
  height: 10%;
}

.about-header {
  font-size: 2rem;
  margin-left: 1.5rem;
  padding-top: 0.5rem;
  color: var(--primary-color);
}

body.dark .about-header {
  color: var(--toggle-color);
}

.about-content-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 90%;
}

.about-image-container {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.about-image-container img {
  width: 15rem;
  height: 15rem;
}

.about-text-container {
  margin-top: -3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.9rem;
  line-height: 1.4rem;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .about-text-container {
    padding: 1rem 6rem;
  }
}

@media screen and (min-width: 1024px) {
  .about-content-container {
    grid-template-columns: repeat(2, 1fr);
    height: 90%;
  }
  .about-image-container {
    height: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .about-image-container img {
    width: 22rem;
    height: 22rem;
  }
  .about-text-container {
    justify-content: center;
    align-items: flex-start;
    font-size: 1rem;
    line-height: 2rem;
    padding: 1rem 5rem 1rem 0;
  }
}

/* Work Page */
.work-container {
  height: fit-content;
}

.work-header {
  font-size: 2rem;
  margin-left: 1.5rem;
  padding-top: 0.5rem;
  color: var(--primary-color);
}

body.dark .work-header {
  color: var(--toggle-color);
}

.work-content-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
  padding: 1rem;
}

.card {
  border: 0.5px solid var(--body-color);
  width: 16rem;
  height: 18rem;
  margin: 0 auto;
}

.card-img-container {
  height: 60%;
}

.card img {
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  height: 100%;
}

.work-texts {
  background: var(--sidebar-color);
  height: 40%;
  padding: 1rem;
}

.work-texts h4 a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.2rem;
}

.work-texts h6 {
  margin-top: 0.2rem;
  font-weight: 400;
}

.work-texts h4 a:hover {
  text-decoration: underline;
}

.work-texts button {
  border: none;
  background: var(--primary-color);
  width: 7.5rem;
  height: 1.5rem;
  border-radius: 5px;
  margin-top: 0.8rem;
}

.work-texts button:hover {
  cursor: pointer;
  transition: transform 150ms;
  transform: scale(1.1);
  background-color: var(--primary-color);
  transition: 0.4s;
  color: var(--primary-color-light);
}

.work-texts button a {
  color: var(--primary-color-light);
  text-decoration: none;
  font-weight: 600;
}

body.dark .card {
  border-color: var(--sidebar-color);
}

body.dark .work-texts h4 a {
  color: var(--text-color);
}

body.dark .work-texts button a {
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .work-content-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
    margin-bottom: 4rem;
    padding: 1rem 4.5rem 0 4.5rem;
  }
}

/* Contact Page */
.contact-container {
  height: 100%;
  width: 100%;
}

.contact-header-container {
  height: 10%;
}

.contact-header {
  font-size: 2rem;
  margin-left: 1.5rem;
  padding-top: 0.5rem;
  color: var(--primary-color);
}

body.dark .contact-header {
  color: var(--toggle-color);
}

.contact-content-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 80%;
}

.form-container {
  height: 100%;
  padding-top: 1rem;
  margin: 0 auto;
}

.contact-form {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.3rem;
  padding: 0 2rem;
  height: 80%;
}

::placeholder {
  color: var(--text-color);
}

input,
textarea {
  background-color: var(--body-color);
  outline: 1px solid var(--primary-color);
  color: var(--text-color);
  border: none;
}

input:focus {
  outline: 3px solid var(--primary-color);
}

textarea:focus {
  outline: 3px solid var(--primary-color);
}

.contact-name {
  grid-column: span 1;
  grid-row: span 1;
  padding: 0.5rem 0 0.5rem 1.2rem;
  width: 10rem;
}

.contact-email {
  grid-column: span 1;
  grid-row: span 1;
  padding: 0.5rem 0 0.5rem 1.2rem;
  width: 10rem;
}

.contact-subject {
  grid-column: span 1;
  grid-row: span 1;
  padding: 0.5rem 0 0.5rem 1.2rem;
  width: 10rem;
}

.contact-message {
  grid-column: span 1;
  padding: 0.5rem 0 0.5rem 1.2rem;
  width: 10rem;
}

.contact-links-container {
  height: 100%;
  padding: 0 1rem;
  margin-top: -2rem;
}

.email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.1rem;
  margin-top: 0.4rem;
}

.email-header {
  color: var(--primary-color);
}

.phone-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phone-header {
  color: var(--primary-color);
}

body.dark .email-header {
  color: var(--toggle-color);
}

body.dark .phone-header {
  color: var(--toggle-color);
}

.contact-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  gap: 0.4rem;
}

.button {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.2rem 1rem;
  color: var(--sidebar-color);
  width: 6.9rem;
  border-radius: 5px;
  font-weight: 600;
}

.button:hover {
  cursor: pointer;
  transition: transform 150ms;
  transform: scale(1.1);
  background-color: var(--primary-color);
  transition: 0.4s;
  color: var(--primary-color-light);
}

.button:active {
  border: 3px solid var(--primary-color);
}

.message-btn {
  width: 7rem;
  height: 2rem;
  border-radius: 0;
  background: transparent;
  color: var(--text-color);
  font-weight: normal;
  margin: 0.3rem auto 0 auto;
}

body.dark .button {
  color: var(--text-color);
}

body.dark .button:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  height: 10%;
  width: 100%;
  color: var(--primary-color-light);
  font-size: 0.6rem;
}

body.dark .footer {
  color: var(--text-color);
}

@media screen and (min-width: 425px) {
  .phone-container {
    margin-top: -0.6rem;
  }
  .contact-links {
    margin-top: -1rem;
  }
}

@media screen and (min-width: 768px) {
  .contact-content-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .contact-name {
    width: 15rem;
  }
  .contact-email {
    width: 15rem;
  }
  .contact-subject {
    width: 15rem;
  }
  .contact-message {
    width: 15rem;
  }
  .contact-links-container {
    margin-top: 2rem;
    height: 25rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5rem;
    background: transparent;
    /* border: 1px solid var(--primary-color); */
    border-radius: 5px;
  }
  .email-container {
    align-items: flex-start;
    margin-top: -1rem;
  }
  .phone-container {
    align-items: flex-start;
    margin-bottom: 2rem;
  }
  .footer {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .contact-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 3rem;
  }
  .contact-name {
    height: 3rem;
    width: 30rem;
  }
  .contact-email {
    height: 3rem;
    width: 30rem;
  }
  .contact-subject {
    height: 3rem;
    width: 30rem;
  }
  .contact-message {
    width: 30rem;
  }
  .message-btn {
    margin: 1rem 0 0 0;
    width: 10rem;
  }
  .phone-header {
    margin-top: 1rem;
  }
  .contact-links {
    gap: 1rem;
  }
  .contact-links button {
    width: 9rem;
    height: 2.5rem;
  }
}
