/* GLOBAL SELECTORS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --secondary-font: 'Saira';
    --main-font: 'Saira Condensed';

    --color-one: #0a0a0a;
    --color-two: #1A1A1A;
    --color-three: #fff;
    --color-four: #66FCF1;
    --color-five: #555;
}

/* HIDE HORIONTALLY SCROLLABLE BAR */
body {
    overflow-x: hidden;
}

/* MAIN CONTENT */
.main {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--color-two);
}

/* MOBILE AND TABLET NAVBAR */
@media screen and (min-width: 300px) {
    .navbar {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    
    .logo img {
        cursor: pointer;
        opacity: .8;
        height: 6rem;
        width: 6rem;
        margin: 35px 0;
    }
    
    nav ul li {
        list-style: none;
        margin: 35px 0;
    }
    
    nav ul li a {
        text-decoration: none;
        font-size: 40px;
        color: #fff;
        padding: 10px;
        letter-spacing: 5px;
        position: relative;
    }
    
    nav ul li a::after {
        content: '';
        height: 3px;
        width: 0;
        background: #eea16d;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: width 0.5s;
    }
    
    nav ul li a:hover::after {
        width: 100%;
    }
    
    nav {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #000;
        z-index: 2;
        top: -100vh;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: 1s;
    }
    
    .lite-text {
        color: #333;
        font-size: 200px;
        letter-spacing: 100px;
        opacity: 0.1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-weight: 800;
        z-index: -1;
    }
    
    .close-icon {
        width: 25px;
        position: absolute;
        right: 80px;
        top: 50px;
        cursor: pointer;
    }
    
    .menu-icon {
        width: 30px;
        position: absolute;
        right: 80px;
        top: 50px;
        cursor: pointer;
    }
}

/* DESKTOP NAVBAR */
/* @media screen and (min-width: ) */